<aside>
	<h3>About Me</h3>
	<p>
        <img src="https://1.gravatar.com/avatar/895c943fbd5beb697f6c2d7bf0c3b279?s=75" class="left" style="padding-right: 10px;" />
        I am <a href="/who-am-i/">Hari KT</a> a freelance PHP developer from India.
        Holds a degree in Bachelors of Technology in Information Technology.
        Breath open-source and contributes to <a href="http://auraphp.com">aura project for php</a>.
        Occassionaly writes for <a href="http://sitepoint.com">sitepoint.com</a>
	</p>
</aside>
