---
layout: default
---

<div class="row" id="main">
  <div class="8u">
    <!-- Content -->
    <article>
      {% include article.html %}
    </article>
    {% unless page.footer == false %}
    <div>
      {% if page.date or page.author %}<p class="meta">
        {% if page.author %}{% include post/author.html %}{% endif %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
      </p>{% endif %}
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </div>
    {% endunless %}
    {% if site.disqus_short_name and page.comments == true %}
      <section>
        <h3>Comments</h3>
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
      </section>
    {% endif %}
  </div>
  {% unless page.sidebar == false %}
  <div class="4u">
    <!-- Sidebar -->
    <section id="sidebar">
    {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
    {% else %}
      {% include_array default_asides %}
    {% endif %}
    </section>
  </div>
  {% endunless %}
</div>
