---
layout: default
single: true
---

<div class="row" id="main">
  <div class="8u">
    <!-- Content -->
    <article>
      {% include article.html %}
    </article>
    <div>
      <p class="meta">
        {% include post/author.html %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% include post/categories.html %}
      </p>
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}      
    </div>
    <div>
      {% if site.disqus_short_name and page.comments == true %}
        <section>
          <h3>Comments</h3>
          <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </section>
      {% endif %}
    </div>
    <div class="pagination">
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>
  </div>
  <div class="4u">
    <!-- Sidebar -->
    <section id="sidebar">
    {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
    {% else %}
      {% include_array default_asides %}
    {% endif %}
    </section>
  </div>
</div>
