$max-width: 1200px !default;

// Padding used for layout margins
$pad-min: 18px !default;
$pad-narrow: 25px !default;
$pad-medium: 35px !default;
$pad-wide: 55px !default;

.group { @include pie-clearfix; }

div.pagination {
  @extend .group;
  text-align: center;
  font-size: .95em;
  position: relative;
  background: $img-border top left repeat-x;
  padding: {top: 1.5em; bottom: 1.5em;}
  a {
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }    
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }
    }
  }
  @media only screen and (min-width: 480px) {
    margin-left: $pad-narrow;
    margin-right: $pad-narrow;
  }
  @media only screen and (min-width: 768px) {
    margin-left: $pad-medium;
    margin-right: $pad-medium;
  }
  @media only screen and (min-width: 992px) {
    margin-left: $pad-wide;
    margin-right: $pad-wide;
  }
}
