<!-- Footer -->
<div id="footer" class="container">
  <header class="major">
    <h2>Socialized</h2>
    <span>I also live at other places in the internet. Some of them are given below</span>
  </header>
  <div class="row">
    <section class="6u">
      <div class="row no-collapse-1">
        <ul class="divided icons 6u">          
          <li class="fa fa-github"><a href="https://github.com/harikt"><span class="extra">github.com/</span>harikt</a></li>
          <li class="fa fa-twitter"><a href="http://twitter.com/harikt"><span class="extra">twitter.com/</span>harikt</a></li>          
        </ul>
        <ul class="divided icons 6u">
          <li class="fa fa-linkedin"><a href="http://linkedin.com/in/harikt"><span class="extra">linkedin.com/in/</span>harikt</a></li>          
        </ul>
      </div>
    </section>
    <section class="6u">
      <div class="row no-collapse-1">
        <ul class="divided icons 6u">          
          <li class="fa fa-facebook"><a href="https://facebook.com/harikt"><span class="extra">facebook.com/</span>harikt</a></li>
        </ul>
        <ul class="divided icons 6u">          
          <li class="fa fa-youtube"><a href="http://www.youtube.com/user/kthari85"><span class="extra">youtube.com/</span>kthari85</a></li>          
        </ul>
      </div>
    </section>
  </div>
</div>

<!-- Copyright -->
<div id="copyright" class="container">
  <ul class="menu">
    <li>&copy; {{ site.time | date: "%Y" }} - {{ site.author }}</li>
    <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
    <li>Powered by <a href="http://octopress.org">Octopress</a></li>
  </ul>
</div>
